.opcoes {
    display: none; /* Inicialmente, oculta as opções */
  }
  .opcoes button {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    color: #333;
    margin-bottom: 10px; }